<style>
    button {
        background-color: brown;
        border-radius: 10xp;
    }
</style>
<head>
    <title>home</title>
</head>

<body>
    <h1>New Game</h1>

    <a href="http://localhost:3000/spel"> <button>Get start</button></a>

    <form method="GET">
        <input type="submit" value="1">
    </form>
</body>
</html>