<h1>
Welcom in Million Games
</h1>

<h1><%=vr%> Quest </h1>
<h1> <%=ant%> Answer   </h1>
<form method="GET">
    <input type="answer" name="1" value="1" ><br>
    <input type="answer" name="2" value="2"><br>
    <input type="answer" name="3" value="3"><br>
    <input type="answer" name="4" value="4"><br>
</form>

<form method="GET">
    <input type="submit" value="Verzenden">
</form>